.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-fluid {
  width: 30px;
}

.card4c {
  background: url("./imgs/4_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip4c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card2c {
  background: url("./imgs/2_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip2c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card3c {
  background: url("./imgs/3_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip3c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card5c {
  background: url("./imgs/5_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip5c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card6c {
  background: url("./imgs/6_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip6c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card7c {
  background: url("./imgs/7_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip7c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card8c {
  background: url("./imgs/8_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip8c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card9c {
  background: url("./imgs/9_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip9c {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardTc {
  background: url("./imgs/10_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipTc {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardJc {
  background: url("./imgs/jack_of_clubs2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipJc {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardQc {
  background: url("./imgs/queen_of_clubs2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipQc {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardKc {
  background: url("./imgs/king_of_clubs2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipKc {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardAc {
  background: url("./imgs/ace_of_clubs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipAc {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card4s {
  background: url("./imgs/4_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip4s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card2s {
  background: url("./imgs/2_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip2s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card3s {
  background: url("./imgs/3_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip3s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card5s {
  background: url("./imgs/5_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip5s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card6s {
  background: url("./imgs/6_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip6s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card7s {
  background: url("./imgs/7_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip7s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card8s {
  background: url("./imgs/8_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip8s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card9s {
  background: url("./imgs/9_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip9s {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardTs {
  background: url("./imgs/10_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipTs {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardJs {
  background: url("./imgs/jack_of_spades2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipJs {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardQs {
  background: url("./imgs/queen_of_spades2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipQs {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardKs {
  background: url("./imgs/king_of_spades2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipKs {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardAs {
  background: url("./imgs/ace_of_spades.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipAs {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card4h {
  background: url("./imgs/4_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip4h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card2h {
  background: url("./imgs/2_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip2h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card3h {
  background: url("./imgs/3_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip3h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card5h {
  background: url("./imgs/5_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip5h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card6h {
  background: url("./imgs/6_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip6h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card7h {
  background: url("./imgs/7_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip7h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card8h {
  background: url("./imgs/8_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip8h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card9h {
  background: url("./imgs/9_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip9h {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardTh {
  background: url("./imgs/10_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipTh {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardJh {
  background: url("./imgs/jack_of_hearts2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipJh {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardQh {
  background: url("./imgs/queen_of_hearts2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipQh {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardKh {
  background: url("./imgs/king_of_hearts2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipKh {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardAh {
  background: url("./imgs/ace_of_hearts.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipAh {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card4d {
  background: url("./imgs/4_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip4d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card2d {
  background: url("./imgs/2_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip2d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card3d {
  background: url("./imgs/3_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip3d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card5d {
  background: url("./imgs/5_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip5d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card6d {
  background: url("./imgs/6_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip6d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card7d {
  background: url("./imgs/7_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip7d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card8d {
  background: url("./imgs/8_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip8d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.card9d {
  background: url("./imgs/9_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flip9d {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardTd {
  background: url("./imgs/10_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipTd {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardJd {
  background: url("./imgs/jack_of_diamonds2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipJd {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardQd {
  background: url("./imgs/queen_of_diamonds2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipQd {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardKd {
  background: url("./imgs/king_of_diamonds2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipKd {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.cardAd {
  background: url("./imgs/ace_of_diamonds.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

.flipAd {
  background: url("https://www.pngkey.com/png/full/121-1215825_back-of-card-sentinels-theory-xi-usa.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 160px;
  border-radius: 15px;
  border: solid transparent;
}

#title {
  background: url("./imgs/dealer-blue.png");
  background-blend-mode: screen;
  background-size: contain;
  background-repeat: no-repeat;
}
