.App {
  text-align: center;
  /* background: forestgreen; */
}

body {
  text-align: center;
  background: url("imgs/table-top.jpg") !important;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 1000px;
}

.info {
  color: whitesmoke;
  text-shadow: .5px 1px .5px tomato;
  font-family: fantasy;
}

.count {
  padding-right: 10px;
  padding-left: 5px;
  text-shadow: .5px 1px .5px whitesmoke;
  color: yellow;
  font-family: fantasy;
}

h5 {
  color: whitesmoke;
  text-shadow: .5px 1px .5px tomato;
  font-family: fantasy;
}

form {
  color: whitesmoke;
  text-shadow: .5px 1px .5px tomato;
  font-family: fantasy;
  text-align: left;
}

.label {
  margin-top: 5px;
}

.jumbotron {
  background: transparent !important;
}

.btn-img {
  width: 75px;
}